.commentsItem {
  display: flex;
  background-color: #fff;
  margin-bottom: 10px;
}

.commentsItem:last-child {
  margin-bottom: 20px;
}

.textArea {
  resize: none;
  max-width: 500px;
  padding-left: 10px;
  border: none;
  font-size: 87.5%;
  color: #212529;
}
