.notes-wrapper {
  display: flex;
}

.notesList .listItem:first-child {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  border: 1px solid rgba(0, 0, 0, 0.125);
}

.listItem:hover,
.listItem:focus {
  border-left: 4px solid deeppink;
}

.noteText {
  margin-bottom: 0;
}

.infoWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.count {
  margin-right: 20px;
  margin-bottom: 0;
  border-radius: 10rem;
  color: #fff;
  background-color: #17a2b8;
  padding: 4px 6px;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
}

.deleteBtn {
  color: #dc3545;
  background-color: transparent;
  background-image: none;
  border-color: #dc3545;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  user-select: none;
  border: 1px solid #dc3545;
  padding: 6px 12px;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 4px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.deleteBtn:hover,
.deleteBtn:focus {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}
